@model ERestaurant.Models.FoodItem

<h2>Edit Food Item</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input asp-for="Food_Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Food_Name"></label>
                <input asp-for="Food_Name" class="form-control" />
                <span asp-validation-for="Food_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food_Description"></label>
                <input asp-for="Food_Description" class="form-control" />

                <span asp-validation-for="Food_Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Food_Price"></label>
                <input asp-for="Food_Price" class="form-control" />
                <span asp-validation-for="Food_Price" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>


        </form>
    </div>
</div>
